:root {
    --main-title-color: #212121;
    --second-title-color: #757575;
    --main-fon: #f5f5f5;
    --main-btn: #2196f3;
    --main-color: #ffffff;
    --main-color-icon: #afb1b8;
    --main-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }